@{
    ViewData["Title"] = "Series details";
}
<h1>@ViewData["Title"]</h1>

<img src="~/Images/@ViewBag.ImagePath" />

<h3>@ViewBag.Title</h3>
<h3>@ViewBag.NumOfSeason</h3>
<h3>@ViewBag.Views</h3>
<p>@ViewBag.Details</p>
